* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  #container {
    width: 80%;
    border: 2px solid rgb(87, 87, 87);
    margin: 5rem auto;
    font-size: 1.5em;
  }
  #week {
    display: flex;
    flex-direction: row-reverse;
  }
  [data-days] {
    display: flex;
    border: 1px solid black;
    width: 19%;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;
    background-color: rgb(215 215 215);
  }
  .numberWeek {
    margin-top: 0.5rem;
    width: 22%;
    height: 6vh;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
  }
  
  main{
    padding: 1rem;
  }
  
  #welcome{
    display: flex;
    justify-content: space-between;
  }
  
  #hello{
    width: 12%;
    height: 6vh;
    background-color: bisque;
    display: flex;
    justify-content: end;
  }
  
  .fa-trash-o{
    color: #747474;
  }
  
  #todoList_Container{
    margin: 1rem 0;
  }
  
  .todolist_main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #d1cece;
    border-radius: 6px;
    height: 12vh;
    padding: 1rem;
  }
  
  .input_Todo_Main{
    background-color:#d1cece ;
    width: 90%;
    border: none;
    outline: none;
    direction: rtl;
    margin-right: 2rem;
    align-items: center;
    font-size: 0.8em;
  }
  
  .todomain_right{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    align-items: center;
  }
  
  .round-Checkbox{
    width: 3%;
    height: 3.8vh;
    background-color: #4fbf4f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d1cece ;
    border: 0.5px solid rgb(151, 151, 151);
  }
  
  #fa-check{
    font-size: 0.8rem;
    color:rgb(151, 151, 151) ;
  }
  
  #fa-trash_todo , #fa-edit{
    font-size: 0.8em;
    color: #747474;
  }
  
  .todomain_left{
    width: 20%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
  }
  
  .timer_Main{
    width: 36%;
    height: 8vh;
    background-color: bisque;
    border-radius: 6px; 
    margin-left: 3rem;
    padding: 0.6rem 1.5rem;
  }
  
  .fa-edit{
    margin-right: 0.7rem;
  }
  
  footer {
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    justify-content: space-between;
  }
  
  .todo_Footer{
    width: 60%;
      height: 8vh;
      border-radius: 6px;
      outline: none;
      border: none;
  }
  
  .timer_Footer{
    width: 7%;
    background-color: bisque;
    border-radius: 6px;
    margin-left: 13rem;
  }
  
  #addButton{
    width: 10%;
      background-color: #21c28f;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 0.7em;
  }



  .log-in{
    width: 30%;
    height: 50vh;
    background-color: rgb(216, 213, 213);
    margin: 7rem auto;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-login{
    width: 83%;
    height: 20%;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    padding-right: 1rem;
    color: black;
    font-size: 1em;

  }
  .btn-login{
    width: 32%;
    height: 8vh;
    border-radius: 1rem;
    color: white;
    background-color: #21c28f;
    margin-top: 1.5rem;
    font-size: 1.45em;
    border: none;
    padding-bottom: 4px;
  }

  .overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }
  #text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .login-form{
    width: 30%;
    height: 25vh;
    background-color: rgb(216, 213, 213);
    margin: 7rem auto;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-login{
    width: 83%;
    height: 50%;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    padding-right: 1rem;
    color: black;
    font-size: 1em;

  }